<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Calories Burned</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <!-- CSS FILES -->        
    <link rel="preconnect" href="https://fonts.googleapis.com">
        
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <link href="static/css/bootstrap-icons.css" rel="stylesheet">

    <link href="static/css/owl.carousel.min.css" rel="stylesheet">

    <link href="static/css/owl.theme.default.min.css" rel="stylesheet">

    <link href="static/css/templatemo-medic-care.css" rel="stylesheet">

    <style>
        a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.round {
  border-radius: 50%;
}
    </style>
</head>
<body>
    <h1>Based on your details </h1>
    <h1>Calories burned in your Workout Session = {{data[0]}}</h1>
<br><br>
<center>
    <big>
        <a class="previous" href='/'>Home Page</a>
    </big>
    
</center>
    
</body>
</html>